.green {
	color: green
}

.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}  

.split-color {
    display:inline-block;
    /*padding:30px;*/
    /*line-height:37px;*/
    float:right;
    position:relative;
}
.split-color:before {
	display:inline-block;
	content:"";
	position:absolute;
	top:10px;
	bottom:10px;
	left:-1px;
	border: 0 solid #EEE;
	border-right-width: 1px;
}

.login-margin {
	margin-top: 40px;
}

.login-bottom {
	bottom: 40px;
}